<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Django{% endblock %}</title>
    <!-- Aquí puedes añadir más enlaces a CSS, fuentes, etc. -->
</head>
<body>
    <main>
        <!-- Aquí se insertará el contenido específico de cada página -->
        {% block content %}
        <!-- El contenido de las páginas que extienden esta plantilla se insertará aquí -->
        {% endblock %}
    </main>
    <!-- Cargar los scripts de JavaScript -->
    
</body>
</html>
